<p class="navbar-text pull-right">
	<% if user_signed_in? %>
		Anda Login Sebagai <strong><% current_user.email %></strong>
		<%= link_to 'Edit Profil', edit_user_registration_path, :class => 'navbar-link' %>
		<%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
	<% else %>
		<%= link_to 'Sign up', new_user_registration_path, :class => 'navbar-link' %>
		<%= link_to 'Login', new_user_session_path, :class => 'navbar-link' %>
	<% end %>
</p>

<h1>Welcome#index</h1>

