<!DOCTYPE html>
<html>
  <head>
    <title>LoginSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if notice %>
      <P class="alert alert-success"><%= notice %></P>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"> </p>
    <% end %>

    <%= yield %>
  </body>
</html>
